.shadow {
  box-shadow: 0 9px 89px -18px rgba(0,0,0,0.75);
}

.question {
  padding-top: 20px;
}

.radio {
  margin-left: 15px;
}

.modal-body .prompt {
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  padding-top: 10px;
}
